$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #409eff;
$vxe-table-font-color: red;
$vxe-table-border-color: #1b4e7f;
$vxe-table-border-radius: 4px;

$vxe-table-header-background-color: #143155;
$vxe-table-body-background-color: #0f1823;

@import 'vxe-table/styles/index.scss';