// import dark theme
@import "@/styles/variables.scss";
@import "@/styles/element/index.scss";
@font-face {
  font-family: timeFont;
  src: url(~@/assets/fonts/digital-7mono.ttf);
}

// ================== 基本初始化样式代码 ==================
* {
  font-size: 14px;
}
html,
body {
  background-color: $gBodyBg;
}
body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
p,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  color: $gColor;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
span,
a,
label,
div {
  color: $gColor;
}
a {
  text-decoration: none;
}
.hide,
.none {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
ul,
ol {
  list-style: none;
}

// ================== 滚动条美化样式 ==================
::-webkit-scrollbar {
  /* 滚动条 */
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /* 滑动块 */
  border-radius: 10px;
  background-color: $gPrimary;
}
::-webkit-scrollbar-track {
  /* 轨道 */
  box-shadow: inset 0 0 5px $gBodyBg;
  background: $gBodyBg;
}

// ================== 项目 全局样式 ==================
// 纵向排列布局
.g-flex-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
// 查询区域
.g-query {
  border: $gBorderColor 1px solid;
  background-color: $gBodyBg2;
  padding: 10px 20px 2px;
  h3 {
    position: absolute;
    margin-top: -18px;
    padding: 0 10px;
    font-size: 12px;
    background-color: $gBodyBg;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .el-form {
    .el-form-item {
      margin-bottom: 8px;
    }
    .el-form-item:last-child {
      margin-right: 0;
    }
  }
  .g-query-btns {
    float: right;
    margin-right: 0px;
  }
}
// 带标题查询区域
.g-query-has-title {
  background: none;
}
// 按钮组区域
.g-btns {
  .g-info{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    dl{
      display: flex;
      font-size: 16px;
      dt{
        color: $gTitleColor;
      }
      dd{
        color: $gPrimary;
        font-weight: bold;
      }
    }
  }
}
// 表格加分页区域
.g-table {
  flex: 1;
  overflow: auto;
  .g-table-self {
    height: calc(100% - 36px);
  }
  .el-table {
    height: 100%;
  }
  .g-table-pafer {
    margin-top: 12px;
    .el-pagination {
      justify-content: right;
    }
  }
}
// 弹窗 定义flex布局和元素间距
.g-dialog-md {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
// flex 自定义内容居中块
.g-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// 四角装饰模块
.g-box-orn{
  position: relative;
  .g-orn1, .g-orn2, .g-orn3, .g-orn4{
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
  }
  .g-orn1{
    left: 0;
    top: 0;
    border-left: #6593be 1px solid;
    border-top: #6593be 1px solid;
  }
  .g-orn2{
    left: 0;
    bottom: 0;
    border-left: #6593be 1px solid;
    border-bottom: #6593be 1px solid;
  }
  .g-orn3{
    bottom: 0;
    right: 0;
    border-bottom: #6593be 1px solid;
    border-right: #6593be 1px solid;
  }
  .g-orn4{
    top: 0;
    right: 0;
    border-right: #6593be 1px solid;
    border-top: #6593be 1px solid;
  }
}
// 四角装饰模块红色
.g-box-orn-err{
  .g-orn1{
    border-left: #ea8b37 1px solid;
    border-top: #ea8b37 1px solid;
  }
  .g-orn2{
    border-left: #ea8b37 1px solid;
    border-bottom: #ea8b37 1px solid;
  }
  .g-orn3{
    border-bottom: #ea8b37 1px solid;
    border-right: #ea8b37 1px solid;
  }
  .g-orn4{
    border-right: #ea8b37 1px solid;
    border-top: #ea8b37 1px solid;
  }
}

.g-button-svg{
  display: flex;
  margin-right: 5px;
}

.is-circle{
  .g-button-svg{
    margin-right: 0;
  }
}

.g-upload-icon{
  width: 40px; height: 40px; color: $gPrimary;
  margin-bottom: 5px;
}
.g-upload-text{
  font-size: 14PX; color: $gTitleColor;
}